nav {
   position: fixed !important;
   width: 100%;
   height: 60px;
   background-color: rgba(255, 255, 255, 0.85);
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
   z-index: 9;
   font-weight: 500;
}
.head {
   height: 60px;
}

